body {
    background-color: #f1f1f1;
    color: #777;
}
#content {
    max-width: 60%;
    margin: auto;
}
.row {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

#left-panel {
    flex-basis: 40%;
}

#right-panel {
    background-color: white;
    padding: 20px 30px;
}

#add-button {
    margin-top: 9px;
}

#actions {
    display: flex;
    column-gap: 5px;
}

.completed {
    text-decoration: line-through;
}

.w-100 {
    width: 100%;
}

header {
    margin-bottom: 50px;
    margin-top: 20px;
}

footer {
    text-align: center;
}
